* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
}
header {
  background-color: blanchedalmond;
}
nav {
  display: flex-inline;
  background-color: lightgrey;
  color: black;
  height: 50px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
}
a {
  color: black;
  font-style: normal;
  margin: 15px;
}

a:hover {
  color: blue;
  font-weight: bold;
  background-color: rgba(187, 182, 182, 0.803);
}
